
body {
    background-image: linear-gradient(white, lightgreen, green); 

}


h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50;
    text-align: center;
    padding: 30px 60px;
    border: 20px solid #BBFCE7;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30;
    text-align: center;
}

footer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 1;
    width: 100%
}

.column {
    float: left;
    width: 33.33%;

}

#centerDiv {
    text-align:center;
}
